* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(241, 241, 241);
}

h1 {
  font-family: "Galien", sans-serif;
}

p {
  font-family: "Gilroy", sans-serif;
}

a {
  text-decoration: none;
  color: rgb(48, 48, 48);
}

a:hover {
  color: rgb(119, 189, 255);
  transition: 0.5s;
}

button,
a {
  cursor: pointer;
}

footer {
  padding: 10px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  display: flex;
}
footer p {
  font-size: 25px;
  margin-left: 20px;
  color: rgb(179, 179, 179);
}
footer .component-logo span p {
  margin-left: 0;
}

aside {
  position: relative;
  width: 300px;
  background: rgb(255, 255, 255);
  height: 50vh;
  padding: 10px;
  border-radius: 10px;
}
aside .title {
  border-bottom: 2px solid rgb(155, 155, 155);
  padding-bottom: 5px;
}
aside .filter-form {
  margin-top: 10px;
}

section {
  margin-top: 10px;
}

main {
  width: 100%;
}

.component-header {
  position: relative;
  width: 100%;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.component-header__auth {
  display: flex;
  padding-right: 20px;
}
.component-header__auth .component-modal {
  margin-left: 10px;
}
.component-header__auth a img {
  width: 45px;
  cursor: pointer;
  padding: 5px;
}
.component-header__auth a img:hover {
  background: rgba(235, 235, 235, 0.719);
  border-radius: 50%;
}

.component-logo {
  display: flex;
  align-items: center;
  padding: 10px 15px 10px 15px;
}
.component-logo img {
  width: 70px;
}
.component-logo span {
  margin-left: 10px;
}
.component-logo span a {
  font-size: 35px;
}
.component-logo span P {
  color: rgb(179, 179, 179);
}
.component-logo:hover img {
  transform: rotate(360deg);
  transition: 1s;
}
.component-logo:hover span a {
  color: rgb(119, 189, 255);
}

.component-modal img {
  width: 45px;
  cursor: pointer;
  padding: 5px;
}
.component-modal img:hover {
  background: rgba(235, 235, 235, 0.719);
  border-radius: 50%;
}
.component-modal .modal {
  display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 100;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.component-modal .modal__overfloy {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.226);
}
.component-modal .modal__window {
  position: absolute;
  z-index: 101;
  width: 35%;
  background: rgb(255, 255, 255);
  border-radius: 10px;
}
.component-modal .modal__window__top {
  display: flex;
  padding: 10px;
  justify-content: flex-end;
}
.component-modal .modal__window__top img {
  cursor: pointer;
  width: 40px;
}

.component-nav {
  width: 100%;
  display: flex;
  padding: 10px;
  background: rgb(248, 248, 248);
}
.component-nav a {
  font-size: 20px;
  margin-left: 10px;
}

.component-slider {
  width: 100%;
  background: rgb(255, 255, 255);
  padding: 30px 20px 30px 20px;
}
.component-slider h2 {
  width: 40%;
  border-bottom: 2px solid rgb(75, 75, 75);
  padding-bottom: 10px;
}

#slider_bl .wrapper {
  max-width: 60em;
  margin: 1em auto;
  position: relative;
}

#slider_bl input {
  display: none;
}

#slider_bl .inner {
  width: 500%;
  line-height: 0;
}

#slider_bl article {
  width: 20%;
  float: left;
  position: relative;
}

#slider_bl article img {
  width: 100%;
}

#slider_bl .slider-prev-next-control {
  height: 50px;
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

#slider_bl .slider-prev-next-control label {
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  opacity: 0.7;
}

#slider_bl .slider-prev-next-control label:hover {
  opacity: 1;
}

#slider_bl .slider-dot-control {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}

#slider_bl .slider-dot-control label {
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #bbb;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

#slider_bl .slider-dot-control label:hover {
  background: #ccc;
  border-color: #777;
}

#slider_bl .info {
  position: absolute;
  font-style: italic;
  line-height: 20px;
  opacity: 0;
  color: #000;
  text-align: left;
  -webkit-transition: all 1s ease-out 0.6s;
  -moz-transition: all 1s ease-out 0.6s;
  transition: all 1s ease-out 0.6s;
}

#slider_bl .info h3 {
  color: #1f1f1f;
  margin: 0 0 5px;
  font-weight: 400;
  font-size: 1.5em;
  font-style: normal;
}

#slider_bl .info.top-left {
  top: 30px;
  left: 30px;
}

#slider_bl .info.top-right {
  top: 30px;
  right: 30px;
}

#slider_bl .info.bottom-left {
  bottom: 30px;
  left: 30px;
}

#slider_bl .info.bottom-right {
  bottom: 30px;
  right: 30px;
}

#slider_bl .slider-wrapper {
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 1px 1px 4px rgb(255, 255, 255);
  background: #fff;
  background: #ffffff;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

#slider_bl .slider-wrapper .inner {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

#slider_bl #slide1:checked ~ .slider-prev-next-control label:nth-child(2)::after,
#slider_bl #slide1:checked ~ .slider-prev-next-control label:nth-child(5)::after,
#slider_bl #slide2:checked ~ .slider-prev-next-control label:nth-child(1)::after,
#slider_bl #slide2:checked ~ .slider-prev-next-control label:nth-child(3)::after,
#slider_bl #slide3:checked ~ .slider-prev-next-control label:nth-child(2)::after,
#slider_bl #slide3:checked ~ .slider-prev-next-control label:nth-child(4)::after,
#slider_bl #slide4:checked ~ .slider-prev-next-control label:nth-child(3)::after,
#slider_bl #slide4:checked ~ .slider-prev-next-control label:nth-child(5)::after,
#slider_bl #slide5:checked ~ .slider-prev-next-control label:nth-child(1)::after,
#slider_bl #slide5:checked ~ .slider-prev-next-control label:nth-child(4)::after {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 400;
  text-decoration: inherit;
  margin: 0;
  line-height: 38px;
  font-size: 3em;
  display: block;
  color: #777;
}

#slider_bl #slide1:checked ~ .slider-prev-next-control label:nth-child(2)::after,
#slider_bl #slide2:checked ~ .slider-prev-next-control label:nth-child(3)::after,
#slider_bl #slide3:checked ~ .slider-prev-next-control label:nth-child(4)::after,
#slider_bl #slide4:checked ~ .slider-prev-next-control label:nth-child(5)::after,
#slider_bl #slide5:checked ~ .slider-prev-next-control label:nth-child(1)::after {
  content: "\f105";
  padding-left: 15px;
}

#slider_bl #slide1:checked ~ .slider-prev-next-control label:nth-child(2),
#slider_bl #slide2:checked ~ .slider-prev-next-control label:nth-child(3),
#slider_bl #slide3:checked ~ .slider-prev-next-control label:nth-child(4),
#slider_bl #slide4:checked ~ .slider-prev-next-control label:nth-child(5),
#slider_bl #slide5:checked ~ .slider-prev-next-control label:nth-child(1) {
  display: block;
  float: right;
  margin-right: 5px;
}

#slider_bl #slide1:checked ~ .slider-prev-next-control label:nth-child(5),
#slider_bl #slide2:checked ~ .slider-prev-next-control label:nth-child(1),
#slider_bl #slide3:checked ~ .slider-prev-next-control label:nth-child(2),
#slider_bl #slide4:checked ~ .slider-prev-next-control label:nth-child(3),
#slider_bl #slide5:checked ~ .slider-prev-next-control label:nth-child(4) {
  display: block;
  float: left;
  margin-left: 5px;
}

#slider_bl #slide1:checked ~ .slider-prev-next-control label:nth-child(5)::after,
#slider_bl #slide2:checked ~ .slider-prev-next-control label:nth-child(1)::after,
#slider_bl #slide3:checked ~ .slider-prev-next-control label:nth-child(2)::after,
#slider_bl #slide4:checked ~ .slider-prev-next-control label:nth-child(3)::after,
#slider_bl #slide5:checked ~ .slider-prev-next-control label:nth-child(4)::after {
  content: "\f104";
  padding-left: 8px;
}

#slider_bl #slide1:checked ~ .slider-dot-control label:nth-child(1),
#slider_bl #slide2:checked ~ .slider-dot-control label:nth-child(2),
#slider_bl #slide3:checked ~ .slider-dot-control label:nth-child(3),
#slider_bl #slide4:checked ~ .slider-dot-control label:nth-child(4),
#slider_bl #slide5:checked ~ .slider-dot-control label:nth-child(5) {
  background: #333;
}

#slider_bl #slide1:checked ~ .slider-wrapper article:nth-child(1) .info,
#slider_bl #slide2:checked ~ .slider-wrapper article:nth-child(2) .info,
#slider_bl #slide3:checked ~ .slider-wrapper article:nth-child(3) .info,
#slider_bl #slide4:checked ~ .slider-wrapper article:nth-child(4) .info,
#slider_bl #slide5:checked ~ .slider-wrapper article:nth-child(5) .info {
  opacity: 1;
}

#slider_bl #slide1:checked ~ .slider-wrapper .inner {
  margin-left: 0;
}

#slider_bl #slide2:checked ~ .slider-wrapper .inner {
  margin-left: -100%;
}

#slider_bl #slide3:checked ~ .slider-wrapper .inner {
  margin-left: -200%;
}

#slider_bl #slide4:checked ~ .slider-wrapper .inner {
  margin-left: -300%;
}

#slider_bl #slide5:checked ~ .slider-wrapper .inner {
  margin-left: -400%;
}

@media only screen and (max-width: 850px) and (min-width: 450px) {
  #slider_bl .slider-wrapper {
    border-radius: 0;
  }
}
@media only screen and (max-width: 450px) {
  #slider_bl .slider-wrapper {
    border-radius: 0;
  }
  #slider_bl .slider-wrapper .info {
    opacity: 0;
  }
}
@media only screen and (min-width: 850px) {
  #slider_bl body {
    padding: 0 80px;
  }
}
.component-categories {
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
}
.component-categories a {
  padding: 7px 13px 7px 13px;
  background: rgb(255, 255, 255);
  margin-left: 10px;
  font-size: 20px;
  border-radius: 10px;
}
.component-categories__active {
  color: rgb(119, 189, 255) !important;
}

select {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  background: rgb(241, 241, 241);
  border-radius: 5px;
  border: none;
  margin-top: 5px;
}

.component-cart {
  width: 300px;
  height: 400px;
  background: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 30px;
  list-style: none;
}
.component-cart:hover {
  background: rgb(247, 247, 247);
}
.component-cart img {
  width: 100%;
  border-radius: 20px;
}
.component-cart a {
  width: 100%;
}
.component-cart a p {
  font-size: 25px;
}
.component-cart span {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.component-cart span img {
  width: 70px;
  cursor: pointer;
}
.component-cart span img:hover {
  background: rgb(255, 255, 255);
}
.component-cart span p {
  font-size: 20px;
}

.list {
  width: 100%;
  padding: 7px 13px 7px 13px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button-main {
  width: 40%;
  background: rgb(136, 184, 247);
  border: none;
  padding: 10px;
  border-radius: 7px;
  font-size: 20px;
  color: rgb(241, 241, 241);
  transition: 0.6s;
}

.button-disabled {
  width: 40%;
  background: rgb(189, 189, 189);
  border: none;
  padding: 10px;
  border-radius: 7px;
  font-size: 20px;
  color: rgb(241, 241, 241);
  transition: 0.6s;
}

.field-main {
  width: 50%;
  border: none;
  padding: 10px;
  border-bottom: 1px solid rgb(155, 155, 155);
}

.input-set {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.input-set h2 {
  margin-top: 10px !important;
}
.input-set span {
  display: flex;
  margin-top: 5px;
}
.input-set span span {
  display: flex;
  flex-direction: column;
}
.input-set span span input {
  width: 90%;
  border: none;
  background: rgb(241, 241, 241);
  padding: 5px;
  font-size: 15px;
  margin-top: 5px;
  border-radius: 5px;
}

.form-auth {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-auth input,
.form-auth button {
  margin-top: 20px !important;
}
.form-auth label {
  align-self: flex-start;
  margin-left: 25%;
  margin-top: 10px;
}
.form-auth span {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.form-auth span .politicChechbox {
  display: flex;
}
.form-auth span p {
  margin-left: 10px;
  text-align: left;
}

.forms .switch {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.forms .switch button {
  width: 50%;
  border: none;
  font-size: 20px;
  padding: 10px;
  color: rgb(241, 241, 241);
  cursor: pointer;
}
.forms .switch button:hover {
  opacity: 0.8;
}
.forms .switch :first-child {
  background: rgb(255, 118, 83);
}
.forms .switch :last-child {
  background: rgb(143, 163, 253);
}

.form-filter {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}
.form-filter button {
  width: 100% !important;
  margin-bottom: 10px;
}

.pages {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.pages-products {
  width: 100%;
  display: flex;
  padding: 10px 20px 10px 20px;
}

.app {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*# sourceMappingURL=style.css.map */
