// colors
@import './base/colors.scss';
// vars
@import './base/vars.scss';
// normalize
@import './base/normalize.scss';

// components
@import './components/header/header', './components/header/logo', './components/modal/modal',
  './components/navigation/nav', './components/slider/slider', './components/categories/categories',
  './form/select', './components/cart/cart', './components/cart/list';
// forms
@import './form/button', './form/field', './form/form';
// pages
@import './pages/pages.scss';
.app {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
