$colorBG: rgb(241, 241, 241);
$colorHeader: rgb(255, 255, 255);
$colorLinkMain: rgb(48, 48, 48);
$colorLinkMainHover: rgb(119, 189, 255);
$colorFontMain: rgb(48, 48, 48);
$colorFontSecondary: rgb(179, 179, 179);
$colorBgSecondary: rgba(235, 235, 235, 0.719);
$colorOverfloy: rgba(0, 0, 0, 0.226);
