$colorBG: rgb(241, 241, 241);
$colorHeader: rgb(255, 255, 255);
$colorLinkMain: rgb(48, 48, 48);
$colorLinkMainHover: rgb(119, 189, 255);
$colorFontMain: rgb(48, 48, 48);
$colorFontSecondary: rgb(179, 179, 179);
$colorBgSecondary: rgba(235, 235, 235, 0.719);
$colorOverfloy: rgba(0, 0, 0, 0.226);
$colorBorderField: rgb(155, 155, 155);
$colorButtonMain: rgb(136, 184, 247);
$colorAuthSwitchFirst: rgb(255, 118, 83);
$colorAuthSwitchLast: rgb(143, 163, 253);
$colorButtonDisabled: rgb(189, 189, 189);
$colorNavBg: rgb(248, 248, 248);
