* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy', sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $colorBG;
}
h1 {
  font-family: 'Galien', sans-serif;
}
p {
  font-family: 'Gilroy', sans-serif;
}
a {
  text-decoration: none;
  color: $colorLinkMain;
}
a:hover {
  color: $colorLinkMainHover;
  transition: 0.5s;
}
button,
a {
  cursor: pointer;
}
footer {
  padding: 10px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  display: flex;
  p {
    font-size: 25px;
    margin-left: 20px;
    color: $colorFontSecondary;
    // align-self: flex-end;
  }
  .component-logo {
    span {
      p {
        margin-left: 0;
      }
    }
  }
}
