.component-header {
  width: 100%;
  background: $colorHeader;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  &__auth {
    display: flex;
    padding-right: 20px;
    .component-modal {
      margin-left: 10px;
    }
    a {
      img {
        width: 45px;
        cursor: pointer;
        padding: 5px;
        &:hover {
          background: $colorBgSecondary;
          border-radius: 50%;
        }
      }
    }
  }
}
